{foreach from=$rows item="row" key="name"}
	<a href="/rediskatest/getvaluebykey/{$name}">
		<span class="position">{$row.rank}</span> {$row.value}:{$row.score}
	</a>
	{if empty($mode) or $mode == 'all'}
		<a class="plus" href="/user/addscore/?user={$row.value}&page={$current_page}&mode={$mode}&date={$current_date}">(+1)</a>
	{/if}
	<a class="del" href="/user/delluser/?user={$row.value}&page={$current_page}&mode={$mode}&date={$current_date}"> x </a>
<br/>
{/foreach}
<ul class="paging">
	{foreach from=$paging item="page"}
		<li><a href="?page={$page.value}">{$page.title}</a></li>
	{/foreach}
</ul>
<br>
<br>
<br>
<h2>WEEKS</h2>
<ul class="weeks">
	{foreach from=$weeks item="week"}
		<li><a href="/user/?mode=weak&date={$week.value}">{$week.title}</a></li>
	{/foreach}
</ul>
<br>
<br><h2>MONTHS</h2>
<ul class="weeks">
	{foreach from=$months item="month"}
		<li><a href="/user/?mode=month&date={$month.value}">{$month.title}</a></li>
	{/foreach}
</ul>
<br>
<br>
<br>
<form action="/user/adduser/" method="post">
	Add user: <br />
	<input name="user" type="text" value=""/><br /><br />
	<input name="submit" type="submit" value="Submit" />
</form>