@charset "utf-8";
/* CSS Document */

* {padding:0; margin:0}
html, body {width:100%; height:100%; background-color: #f5f5f5;}
body {font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#111;}
a {text-decoration:none; outline:none; border:none; color:#333;}
a img {border:none; outline:none;}
.clearing {clear:both;}

.layer {width:100%; margin-top:10px; position:relative;}
.container {margin:0 auto; width:1000px;}

.header {width:100%; height:1.5em; border:0px solid; margin-bottom:10px; padding-top:.5px; text-align:center; background-color: red;}
.header h1{font-size: 1.24em; color:#111;}
.left {width:290px; float:left; border:0px solid; padding:5px;}
.left ul {margin:0; padding:0;}
.left ul li {list-style:none;}
.content {width:676px; float:left; border:#999 1px solid; margin-left:10px; padding:5px;}
.footer {width:100%; height:20px; border:#999 1px solid; margin-top:10px; padding-top:5px; text-align:center;}
.error{background: #ff963a}
.ok{background: #77c244}

.pannel{display: block; margin: 0px;
	-webkit-transition: opacity 0.5s ease;
	opacity: 0.6;
	border-style: solid;
	border-color: #000;
	border-width: 0px;
	-webkit-transition: border-width 0.1s ease;
	padding: 0.84em;
	-webkit-transition: padding 0.1s ease;
	margin: 0em;
	-webkit-transition: margin 0.1s ease;
	z-index: 0;
	position: relative;
}
.pannel:hover{
	opacity: 1;
	-webkit-transition: opacity 0.5s ease;
	border-width: 1px;
	-webkit-transition: border-width 0.5s ease;
	padding: 1em;
	-webkit-transition: padding 0.5s ease;
	margin: -0.5em;
	-webkit-transition: margin 0.5s ease;
	z-index: 100;
	position: relative;
	}
.blue{background-color: blue;}