@charset "utf-8";
/* CSS Document */

* {padding:0; margin:0}
html, body {width:100%; height:100%;}
body {font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#000; background-color:#fff;}
a {text-decoration:none; outline:none; border:none; color:#333;}
a img {border:none; outline:none;}
.clearing {clear:both;}

.layer {width:100%; margin-top:10px; position:relative;}
.container {margin:0 auto; width:1000px;}

.header {width:100%; height:80px; border:#999 1px solid; margin-bottom:10px; padding-top:20px; text-align:center;}
.left {width:290px; float:left; border:#999 1px solid; padding:5px;}
.left ul {margin:0; padding:0;}
.left ul li {list-style:none;}
.content {width:676px; float:left; border:#999 1px solid; margin-left:10px; padding:5px;}
.footer {width:100%; height:20px; border:#999 1px solid; margin-top:10px; padding-top:5px; text-align:center;}
.error{background: #ff963a}
.ok{background: #77c244}
.plus{color: green; font-weight: bolder;}
.del{color: red; font-weight: bolder;}
.position{font-weight: bolder;}
ul.paging li {float: left; text-decoration: none; list-style: none}
ul.paging li a{margin: 0 5px; color: blue; font-size: 1.2em; font-weight: 700;}
